<div class="view" ng-controller="PagamentoCtrl">
    <div px-fixed px-wrapper=".page" px-hfixed="true">
        <div id="headerSearch" class="filter" layout="row" layout-align="center center" ng-click="showFilter()"><span>FILTRO AVANÇADO</span><i class="material-icons" ng-show="filterExpand">expand_less</i><i class="material-icons" ng-show="!filterExpand">expand_more</i>
        </div>
        <form class="contentSearch" layout="row" layout-wrap>
            <div layout="row" layout-sm="column" layout-wrap layout-padding flex="100">
                <div flex="15" flex-sm="100">
                    <label for="filtroStatus">Status</label>
                    <select id="filtroStatus" name="filtroStatus" ng-model="filtroStatus" class="form-control" px-enter="getData()" ng-options="option.name for option in dataStatus.optionsAll track by option.id"></select>
                </div>
                <div flex="20" flex-sm="100">
                    <label>Vencimento (mês - ano)</label>
                    <div layout="row" layout-align="start end">
                        <div flex>
                            <select id="filtroVencimentoMes" name="filtroVencimentoMes" ng-model="filtroVencimentoMes" class="form-control" px-enter="getData()" ng-options="option.name for option in dataMonths.optionsAll track by option.id"></select>
                        </div>
                        <div flex="30">
                            <input id="filtroVencimentoAno" name="filtroVencimentoAno" ng-model="filtroVencimentoAno" class="form-control" px-enter="getData()" px-valid-number>
                        </div>
                    </div>
                </div>
                <div flex="20" flex-sm="100">
                    <label for="filtroCliente">Cliente</label>
                    <input id="filtroCliente" name="filtroCliente" ng-model="filtroCliente" class="form-control" px-enter="getData()">
                </div>
                <div flex="15" flex-sm="100">
                    <label for="filtroCPF">CPF</label>
                    <input id="filtroCPF" name="filtroCPF" ng-model="filtroCPF" class="form-control" px-enter="getData()" px-cpf-mask>
                </div>
                <div flex="15" flex-sm="100">
                    <label for="filtroContrato">Proposta / Contrato</label>
                    <input id="filtroContrato" name="filtroContrato" ng-model="filtroContrato" class="form-control" px-enter="getData()">
                </div>
                <div flex="15" flex-sm="100">
                    <label for="filtroArquivo">Arquivo</label>
                    <input id="filtroArquivo" name="filtroArquivo" ng-model="filtroArquivo" class="form-control" px-enter="getData()" px-valid-number>
                </div>
            </div>
        </form>
    </div>
    <div>
        <div px-fixed px-wrapper=".px-view" px-hfixed="true" layout="row" layout-align="end center" layout-padding>
            <div class="btn-group" role="group">
                <!--
                <button type="button" class="btn btn-default" ng-click="add($event)">
                    <span class="fa fa-plus"></span> <span hide-sm>Adicionar</span>
                </button>
                <button type="button" class="btn btn-default" ng-click="add()">
                    <span class="fa fa-pencil"></span> <span hide-sm>Editar</span>
                </button>
                <button type="button" class="btn btn-default" ng-click="remove()">
                    <span class="fa fa-remove"></span> <span hide-sm>Remover</span>
                </button>
                -->
                <button type="button" class="btn btn-default" ng-click="getData()">
                    <span ng-class="dgPagamentoControl.working | dataGridRefresh"></span> <span hide-sm>Atualizar</span>
                </button>
            </div>
        </div>
        <px-data-grid id="dgPagamento" class="table-striped table-bordered" px-debug="true" px-control="dgPagamentoControl" px-init="dgPagamentoInit()" px-config="{{dgPagamentoConfig}}" px-check="false" px-edit="true" px-item-edit="edit(event)"
            px-label-function="dgPagamentoLabel(event)">
        </px-data-grid>
    </div>
</div>