<md-dialog ng-cloak flex="50" aria-label="Formulário" ng-init="formShow = 'default'">
    <px-form px-debug="true" px-control="formControl" px-init="formInit()" px-callback="formCallback(event)" px-config="{{formConfig}}" px-callback="formCallback(event)"></px-form>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{formTitle}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="formCancel()">
                <i class="fa fa-close"></i>
            </md-button>
        </div>
    </md-toolbar>
    <form name="form" ng-show="formShow === 'default'">
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="row" layout-sm="column" layout-wrap layout-padding flex="100">
                    <div class="form-group" flex="50" flex-sm="100">
                        <label for="Status"> Status: </label>
                        <select name="pag_status" id="pag_status" ng-model="pag_status" class="form-control">
                            <option ng-repeat="option in status.availableOptions" value="{{option.id}}">{{option.name}}</option>
                        </select>
                    </div>
                    <div class="form-group" flex="50" flex-sm="100">
                        <label for="pag_data_vencimento">VENCIMENTO</label>
                        <input id="pag_data_vencimento" name="pag_data_vencimento" ng-model="pag_data_vencimento" class="form-control" required ng-disabled="true">
                        <px-message px-element="form.pag_data_vencimento" />
                    </div>
                    <div flex="50" flex-sm="100">
                        <label for="pag_valor">Valor do documento</label>
                        <div class="input-group">
                            <span class="input-group-addon">R$</span>
                            <input id="pag_valor" name="pag_valor" ng-model="pag_valor" class="form-control" px-number-mask ng-disabled="true">
                        </div>
                    </div>
                    <div flex="50" flex-sm="100">
                        <label for="pag_valor_pago">Valor pago</label>
                        <div class="input-group">
                            <span class="input-group-addon">R$</span>
                            <input id="pag_valor_pago" name="pag_valor_pago" ng-model="pag_valor_pago" class="form-control" px-number-mask>
                        </div>
                    </div>
                    <div class="form-group" flex="50" flex-sm="100">
                        <label for="prop_numero">Proposta / Contrato</label>
                        <input id="prop_numero" name="prop_numero" ng-model="prop_numero" class="form-control" required ng-disabled="true">
                        <px-message px-element="form.prop_numero" />
                    </div>
                    <div flex="50" flex-sm="100">
                        <label for="cli_cpfCnpj">CPF</label>
                        <input id="cli_cpfCnpj" name="cli_cpfCnpj" ng-model="cli_cpfCnpj" class="form-control" px-cpf-mask required>
                        <px-message px-element="form.cli_cpfCnpj" />
                    </div>
                    <div class="form-group" flex="100" flex-sm="100">
                        <label for="cli_nome">Cliente</label>
                        <input id="cli_nome" name="cli_nome" ng-model="cli_nome" class="form-control" required ng-disabled="true">
                        <px-message px-element="form.cli_nome" />
                    </div>

                </div>
            </div>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <span flex></span>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" ng-click="formCancel()">
                    <span class="fa fa-remove"></span> <span hide-sm>Cancelar</span>
                </button>
                <button type="button" class="btn btn-default" ng-click="formInsert(form)" ng-disabled="form.$invalid === true" ng-show="formAction === 'insert'">
                    <span class="fa fa-plus"></span> <span hide-sm>Adicionar</span>
                </button>
                <button type="button" class="btn btn-default" ng-click="formUpdate(form)" ng-show="formAction === 'update'" ng-disabled="form.$invalid">
                    <span class="fa fa-pencil"></span> <span hide-sm>Salvar</span>
                </button>
            </div>
        </div>
    </form>
    <md-dialog-content ng-show="formShow === 'exemplo2'">
        <div class="md-dialog-content">
            <div px-fixed px-wrapper=".px-view" px-hfixed="true">
                <div id="headerSearch" layout="row" layout-align="center center" ng-click="showFilter()"><span>FILTRO AVANÇADO</span><i class="material-icons" ng-show="filterExpand">expand_less</i><i class="material-icons" ng-show="!filterExpand">expand_more</i>
                </div>
                <div class="contentSearch" layout="row" layout-wrap>
                    <div layout="row" layout-sm="column" layout-wrap layout-padding flex="100">
                        <div flex="50" flex-sm="100">
                            <label for="filtroCategoria">Nome</label>
                            <input id="filtroCategoria" name="filtroCategoria" ng-model="filtroCategoria" class="form-control" px-enter="getDataExemplo2()">
                        </div>
                    </div>
                </div>
            </div>
            <div px-fixed px-wrapper=".px-view" px-hfixed="true" layout="row" layout-align="end center">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default" ng-click="getDataExemplo2()">
                        <span ng-class="dgExemploControl.working | dataGridRefresh"></span> <span hide-sm>Atualizar</span>
                    </button>
                </div>
            </div>
            <px-data-grid id="dgExemplo2" px-debug="true" px-control="dgExemplo2Control" px-init="dgExemplo2Init()" px-config="{{dgExemplo2Config}}" px-data-init="true" px-check="false" px-edit="false" px-item-click="dgExemplo2ItemClick(event)">
            </px-data-grid>
        </div>
    </md-dialog-content>
</md-dialog>