<md-dialog ng-cloak flex="70" aria-label="" ng-init="vm.init()" class="ordem-servico-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Ordem de Serviço</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancel()">
                <i class="fa fa-close"></i>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content flex>
        <div layout="row" layout-align="center center" ng-show="vm.loading">
            <md-progress-circular md-mode="indeterminate" md-diameter="100"></md-progress-circular>
        </div>
        <div layout="row" ng-show="!vm.loading">
            <iframe load-src="vm.pdfViewer"></iframe>
        </div>
    </md-dialog-content>

</md-dialog>