<md-dialog ng-cloak aria-label="Boleto" ng-init="vm.init()">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Boleto</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancel()">
                <i class="fa fa-close"></i>
            </md-button>
        </div>
    </md-toolbar>
    <md-progress-linear md-mode="indeterminate" ng-show="vm.loading"></md-progress-linear>
    <iframe id="" src="{{vm.pathPdf}}" style="width: 800px; height: 600px"></iframe>
</md-dialog>