<md-dialog ng-cloak flex="70" aria-label="" ng-init="vm.init()" class="default-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Selecione um veículo</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancel()">
                <i class="fa fa-close"></i>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content layout-padding>
        <form name="formSearch" class="filter">
            <h5>Utilize o campo abaixo para filtrar a listagem.</h5>
            <div layout-gt-sm="row">
                <md-input-container flex-gt-sm="100" layout-xs="100">
                    <label>Veículo (Modelo, marca, ou placa)</label>
                    <input ng-model="vm.filter.VEI_INFO" ng-enter="vm.getData({reset: true})">
                </md-input-container>
            </div>
        </form>
        <md-toolbar class="md-table-toolbar md-default" ng-hide="vm.veiculo.selected.length">
            <div class="md-toolbar-tools">
                <span>Veículo</span>
                <span flex></span>
                <md-button class="md-primary" ng-click="vm.getData({reset: true})">
                    <md-icon>refresh</md-icon>
                    Atualizar
                </md-button>
            </div>
        </md-toolbar>
        <md-toolbar class="md-accent md-hue-1" ng-show="vm.veiculo.selected.length">
            <div class="md-toolbar-tools">
                <span>{{vm.veiculo.selected.length}} {{vm.veiculo.selected.length > 1 ? 'linhas selecionadas' : 'linha selecionada'}}
                    </span>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.remove()">
                    <md-icon>delete</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <div>
            <md-table-container>
                <table md-table md-row-select="false" multiple="false" ng-model="vm.veiculo.selected" md-progress="vm.veiculo.promise">
                    <thead md-head md-order="vm.veiculo.order">
                        <tr md-row>
                            <th md-column md-order-by="VEI_INFO">
                                <span>Veículo</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row md-select="item" md-select-id="PER_ID" md-auto-select ng-repeat="item in vm.veiculo.data | orderBy: vm.veiculo.order"
                            ng-click="vm.itemClick(item)">
                            <td md-cell>{{item.VEI_INFO}}</td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
            <md-table-pagination md-label="{page: 'Página:', rowsPerPage: 'Qtd. por página:', of: 'de'}" md-limit="vm.veiculo.limit"
                md-page="vm.veiculo.page" md-total="{{vm.veiculo.total}}" md-page-select md-on-paginate="vm.veiculo.pagination"></md-table-pagination>
        </div>
    </md-dialog-content>
</md-dialog>